In [72]:
#Importing librarie
import pandas as pd
import numpy as np

In [73]:
#Getting Data
data = pd.read_excel('Table of Size Standards_NAICS.xlsx', sheet_name = 'table_of_size_standards-all')

In [74]:
data

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,2,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,2,NaN,NaN
4,111130,Dry Pea and Bean Farming,2.5,NaN,NaN
...,...,...,...,...,...
1100,813930,Labor Unions and Similar Labor Organizations,14.5,NaN,NaN
1101,813940,Political Organizations,12.5,NaN,NaN
1102,813990,"Other Similar Organizations (except Business, ...",12,NaN,NaN
1103,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17
1104,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

In [75]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,2,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,2,NaN,NaN
4,111130,Dry Pea and Bean Farming,2.5,NaN,NaN

In [76]:
data.tail()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
1100,813930,Labor Unions and Similar Labor Organizations,14.5,NaN,NaN
1101,813940,Political Organizations,12.5,NaN,NaN
1102,813990,"Other Similar Organizations (except Business, ...",12,NaN,NaN
1103,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17
1104,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             1082 non-null   object
 1   NAICS Industry Description              1019 non-null   object
 2   Size standards
in millions of dollars  513 non-null    object
 3   Size standards in number of employees   483 non-null    float64
 4   Footnotes                               37 non-null     object
dtypes: float64(1), object(4)
memory usage: 43.3+ KB

In [78]:
#checking for nulls
data.isnull().sum()

NAICS Codes                                  23
NAICS Industry Description                   86
Size standards \nin millions of dollars     592
Size standards in number of employees       622
Footnotes                                  1068
dtype: int64

In [79]:
#selecting only the relevant columns
data = data[data['NAICS Codes'].isnull()]

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 1104
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             0 non-null      object
 1   NAICS Industry Description              23 non-null     object
 2   Size standards
in millions of dollars  0 non-null      object
 3   Size standards in number of employees   0 non-null      float64
 4   Footnotes                               1 non-null      object
dtypes: float64(1), object(4)
memory usage: 1.1+ KB

In [81]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN
112,NaN,Sector 23 – Construction,NaN,NaN,NaN
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN

In [82]:
data['lookupcodes']= data['NAICS Industry Description'].str.slice(start = 7, stop = 9)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7688\2924763027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['lookupcodes']= data['NAICS Industry Description'].str.slice(start = 7, stop = 9)

In [83]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes,lookupcodes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22
112,NaN,Sector 23 – Construction,NaN,NaN,NaN,23
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31

In [84]:
data['NAICS Industry Description'].str.len()

0        54
71       57
96       21
112      24
149      30
517      27
518     537
591      29
592     537
659      47
729      23
765      33
804      46
836      59
893      51
897      84
945      32
965      45
1009     46
1038     43
1056     57
1103     33
1104    284
Name: NAICS Industry Description, dtype: int64

In [85]:
data['sectors']= data['NAICS Industry Description'].str.slice(start = 12, stop = 537)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7688\2485300270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sectors']= data['NAICS Industry Description'].str.slice(start = 12, stop = 537)

In [86]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes,lookupcodes,sectors
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11,"Agriculture, Forestry, Fishing and Hunting"
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21,"Mining, Quarrying, and Oil and Gas Extraction"
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22,Utilities
112,NaN,Sector 23 – Construction,NaN,NaN,NaN,23,Construction
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31,33 – Manufacturing

In [87]:
data=data[['NAICS Industry Description','lookupcodes','sectors' ]]

In [88]:
data[data['lookupcodes'].str.isnumeric()]

,NAICS Industry Description,lookupcodes,sectors
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,33 – Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
591,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
659,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration

In [89]:
#replacing some values in sector
data.loc[data['sectors']=='33 – Manufacturing','sectors'] = 'Manufacturing'

In [90]:
data

,NAICS Industry Description,lookupcodes,sectors
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
518,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
591,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
592,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
659,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration
1104,(Small business size standards are not establi...,bu,ess size standards are not established for thi...

In [91]:
data.loc[data['sectors']=='45 – Retail Trade','sectors'] = 'Retail Trade'

In [92]:
data.loc[data['sectors']=='49 – Transportation and Warehousing','sectors'] = 'Transportation and Warehousing'

In [93]:
data

,NAICS Industry Description,lookupcodes,sectors
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
518,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
591,Sector 44 - 45 – Retail Trade,44,Retail Trade
592,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
659,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration
1104,(Small business size standards are not establi...,bu,ess size standards are not established for thi...

In [94]:
data.to_csv('clean_data.csv', encoding ='utf-8')

In [95]:
data.to_csv('clean_data.csv', encoding ='utf-8', index=False)